@font-face {
  font-family: 'SpaceMono-Regular';
  src: url('../assets/fonts/SpaceMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'SpaceMono-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*:hover,
*:focus,
*:active {
  outline: none;
  box-shadow: none;
}

:root {
  --font-family:          'SpaceMono-Regular';
  --border-radius:        .3rem;
  --font-h1:              1.75rem;
  --font-h2:              1.5rem;
  --font-h3:              1.2rem;
  --font-text:            1rem;

}

.dark {
  --color-primary:       hsl(240, 13%, 18%);
  --color-primary-alt:   hsl(240, 13%, 23%);
  --color-primary-light: hsl(210, 14%, 53%);
  --color-disabled:      hsl(0, 0%, 63%);
  --color-text:          hsl(0, 0%, 100%);
}

.light {
  --color-primary:       hsl(0, 0%, 93%);
  --color-primary-alt:   hsl(56, 100%, 97%);
  --color-primary-light: hsl(210, 14%, 53%);
  --color-disabled:      hsl(0, 0%, 63%);
  --color-text:          hsl(240, 13%, 23%);
}

body {
  background-color: var(--color-primary);
  width: 100%;
  min-height: 100vh;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_content {
  display: grid;
  row-gap: 1.4rem;
  width: 90%;
  max-width: 840px;
}

svg {
  display: block;
  width: 100%;
  color: currentColor;
}

/* values refactor */

/* h1 1.75rem
h2 1.5rem
h3 1.25rem
h4 1.0625rem
h5 1rem */

.vars {
  --font-h1: 1.75rem;
  --font-h2: 1.5rem;
  --font-h3: 1.2ren;
  --font-text: 1rem;
}
