.toggle {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  cursor: pointer;
}

.toggle_icon {
  width: 100%;
  height: 100%;
  fill: var(--color-text);
}

.toggle_input {
  display: none;
  appearance: none;
}
