.form {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.4rem;
  padding: 0.6rem;
  border-radius: var(--border-radius);
  background-color: var(--color-primary-alt);
}

.form_search,
.form_submit {
  font-size: var(--font-text);
  border: none;
  color: var(--color-text);
}

.form_search {
  width: 100%;
  background-color: transparent;
  padding: .6rem 0;
}

.form_search::placeholder {
  color: var(--color-disabled);
}

.form_search::-webkit-search-cancel-button {
  appearance: none;
}

.form_submit {
  padding: .6rem 1rem;
  border-radius: var(--border-radius);
  background-color: var(--color-primary-light);
  cursor: pointer;
  color: #fff;
}

.form_icon {
  width: 2rem;
  fill: var(--color-primary-light);
}
